text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: darkgray;
}

.day {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: white;
    margin: auto;
    margin-top: 2em;
    padding: 2em;
    page-break-after: always;
}

.day-header, .day-footer {
    width: 100%;
    /*background-color: gray;
    min-height: 2em;*/
}

.pane {
    font-family: Arial;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
}

.pane-header {
    background: #C6D8EF;
    box-shadow: #747677 5px 6px 6px;
    font-family: Arial;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pane-title1 {
    font-weight: normal;
    font-size: 18px;
}

.day-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

svg[id^=pieChart] {
    height: 450px;
}

svg[id^=barChart] {
    height: 450px;
}

div[id^=timeDetailsStatus] {
    text-align: center;
    width: 90%;
    margin-bottom: 2em;
    background-color: #6BBC6B;
    padding-top: 15px;
    padding-bottom: 10px;
}

div[id^=timeDetailsStatus].status-warning {
    background-color: red;
    color: white;
    font-weight: bold;
}

table[id^=timeDetails] {
    width: 100%;
}

.summary > table {
    width: 350px;
}

.time-log {
    width: 90%;
}

.time-detail {
    margin-bottom: 2em;
    margin-top: 0;
    padding:0px;
    border:1px solid #000000;
}
.time-detail table{
    border-collapse: collapse;
    border-spacing: 0;
    margin:0px;padding:0px;
}
.time-detail tr:hover td{
    background-color: #EAEAEA;
}
.time-detail td{
    vertical-align:middle;

    background-color: white;
    text-align:left;
    padding:7px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}
.time-detail tr:first-child td{
        background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

    background-color:#4c4c4c;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:12px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.time-detail tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #4c4c4c 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #4c4c4c 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#000000");	background: -o-linear-gradient(top,#4c4c4c,000000);

    background-color:#4c4c4c;
}

.nvd3.nv-pie.nv-chart-donut2 .nv-pie-title {
    fill: rgba(70, 107, 168, 0.78);
}
.nvd3.nv-pie.nv-chart-donut1 .nv-pie-title {
    opacity: 0.4;
    fill: rgba(224, 116, 76, 0.91);
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}